.container{
    max-width: 400px;
    min-height: 400px;
    background: yellowgreen;
    margin:  100px auto 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-size: 30px;
    color: #2c3e50;
    margin-bottom: 20px;
}
.btn{
    background: #3498db;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 6px;
    &:hover{
        background: #2980b9;
    }
}
