.cards{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    background:black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 15px;

}
.card{
    max-width: 100%;
    border: 1px solid gray;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 25px grey;
    &:hover{
        transform: scale(1.2);
    }
}
.rasm{
    max-width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: auto;
    object-fit: cover;
}
.title{
    font-size: 22px;
    color: #fff;

}